.backgoundColorNav {
    background-color: #000000;
    color: white;
}

.textNav {
    color: rgb(255, 255, 255) !important; 
    font-size: 25px;
}

.nav-item {
    padding: 0px 20px;
    
}

.nav-item:hover{
    background-color: #0bb64c;
    border-radius: 10px;
}

#a.textNav:hover{ 
    color: darkmagenta;
}

.navbar {
    padding: 20px 100px;
    position: fixed;
    width: 100%;
    background-color: black;
}

.divLogo {
    padding-right: 40px;
}

.heightFull {
    height: 200vh;
}

.sectionOne {
    padding-top: 93px;
    background-color: #000000;
}

.titleSectionOne {
    color: white;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 34px;
}

.subTitleSectionOne {
    color: white;
    font-size: 30px;
    margin: 0px;
    margin-bottom: 50px;
}

.divContentSectionOne {
    padding: 0px 100px;
}

.btnSectionOneContact {
    background-color: #00c94d;
    border: none;
    padding: 17px 25px;
    font-size: 20px;
    font-weight: 600;
    margin-right: 30px;
    margin-bottom: 1000px;
}

.btnSectionOneContact:hover {
    background-color: #00aeff;
}

.btnSectionOneContact:focus {
    background-color: #00bec9;
}

.btnSectionOneService {
    padding: 17px 25px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1000px;
}

.divTextSectionOne {
    margin-right: 40px;
}

.computerOne {
    margin-top: 90px;
    width: 1100px;
}

.topLogo {
    width: 150px;
    
}