
.backgoundColorNav {
    background-color: #000000;
    color: white;
}

.textNav {
    color: rgb(255, 255, 255) !important; 
    font-size: 25px;
}

.topLogo {
    width: 150px;
}

.nav-item {
    padding: 0px 1px;
    border-radius: 20;
    transition: color 1s;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nav-item:hover{
    background-color: #000000;
    transition: 1s;
    border-radius: 5%;
    
}

.nav-link:hover{
    transition: 1s;
    color: #0fc92e!important;
}

#a.textNav:hover{ 
    color: darkmagenta;
}

.navbar {
    padding: 20px 100px;
    position: fixed;
    width: 100%;
    background-color: black;
}

.divLogo {
    padding-right: 40px;
}

.heightFull {
    height: 100vh;
}

.sectionOne {
    padding-top: 30px;
    background-color: #000000;
}

.titleSectionOne {
    color: white;
    font-size: 60px;
    font-weight: 400;
    margin-left: 0px;
    padding-bottom: 10px;
    animation: movetitleSectionOne 2s backwards;
}

@keyframes movetitleSectionOne{
    0%{
        transform: translateX(-50em);
    }
    100%{
        transform: translateX(0rem);
    }
}

.subTitleSectionOne {
    color: white;
    font-size: 30px;
    margin: 0px;
    margin-top: 30px;
    object-fit: cover;
    margin-bottom: 30px;
    animation: movesubTitleSectionOne 2.4s backwards;
    
}

@keyframes movesubTitleSectionOne{
    0%{
        transform: translateX(-50em);
        opacity: 0;
    }
    40%{
        opacity: 0;
    }

    100%{
        transform: translateX(0rem);
    }
}

.divContentSectionOne {
    padding: 0px 100px;
}

.btnSectionOneContact {
    background-color: #00c94d;
    border: none;
    padding: 17px 25px;
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
    margin-top: 10px;
    animation: movebtnSectionOneContact 2.5s backwards;
}

@keyframes movebtnSectionOneContact{
    0%{
        transform: translateX(-50em);
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    100%{
        transform: translateX(0rem);
    }
}

.btnSectionOneContact:hover {
    transition: 1s;
    background-color: #ffffff;
    color: black;
}

.btnSectionOneContact:focus {
    background-color: #00bec9;
}

.btnSectionOneService {
    padding: 17px 25px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0px;
    transition: 1s;
    animation: movebtnSectionOneContact 2.3s backwards;
}

@keyframes movebtnSectionOneContact{
    0%{
        transform: translateX(-50em);
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    100%{
        transform: translateX(0rem);
    }
}

.divTextSectionOne {
    margin-right: 100px;
}

.computerOne {
    display: inline-block;
    padding-left: 100px;
    margin-left: 100px;
    width: 85%;
    animation: movecomputerOne 2s;
}

@keyframes movecomputerOne{
    0%{
        transform: translateX(50em);
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    100%{
        transform: translateX(0rem);
    }
}

#inscricao {
    color: #00c94d;
}

.sobre {
    background: black;
    font-family: sans-serif; 
}

.sobre h2 {
    text-align: center;
    font-size: 50px;
    color: #00c94d;
    font-weight: bold;
    padding-bottom: 20px;
}
#sobre-nos {
    background-color: black;
    font-size: 30px;
    color: white;
    text-align: center;
    margin:0 auto;
    padding-bottom: 37px;
}

.video1{
    background: black;
    padding-bottom: 70px;
}

#video{
    width: 750px;
    margin:0 auto;
    display: block;
}

.contatar{
    background-color: #00c94d;
    padding: 2.5%;
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 2px 0px  #0aa746;
}

.contato{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    background-color: #00c94d; 

}

.form{
    display: block;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.form .row{
    display: block;
    padding: 10px;
}

.form .flx {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form .flx .input{
    flex: 1;
}

.form .flx .input:first-child{
    margin-right: 20px;
}

.form .input{
    display: block;
    width: 100%;
    padding: 8px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-size: 1.2em;
    color: #333333;
}

.form .input:focus{
    outline-color: #2196f3;
}

.form .textarea{
    display: block;
    width: 100%;
    height: 150px;
    padding: 8px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-size: 1.2em;
    resize: none;
}

.form .textarea:focus{
    outline-color: #2196f3;
}

.form .btn{
    display: block;
    background-color: #00c94d;
    color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    transition-duration: 0.3s;
    width: 30%;
}

.form .btn:hover{
    background-color: #36ad64;
}

 