.backgoundColorNav {
    background-color: #000000;
    color: white;
}

.textNav {
    color: rgb(255, 255, 255) !important; 
    font-size: 25px;
}

.topLogo {
    width: 150px;
}

.nav-item {
    padding: 0px 20px;
    
}

.nav-item:hover{
    background-color: #0bb64c;
    border-radius: 4px;
}

#a.textNav:hover{ 
    color: darkmagenta;
}

.navbar {
    padding: 20px 100px;
    position: fixed;
    width: 100%;
    background-color: black;
}

.divLogo {
    padding-right: 40px;
}

.heightFull {
    height: 100vh;
}

.sectionOne {
    padding-top: 30px;
    background-color: #000000;
}

.titleSectionOne {
    color: white;
    font-size: 50px;
    font-weight: 600;
    margin-top: 34px;
}

.subTitleSectionOne {
    color: white;
    font-size: 30px;
    margin: 0px;
    margin-top: 30px;
}

.divContentSectionOne {
    padding: 0px 100px;
}

.btnSectionOneContact {
    background-color: #00c94d;
    border: none;
    padding: 17px 25px;
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
    margin-top: 10px;
}

.btnSectionOneContact:hover {
    background-color: #00aeff;
}

.btnSectionOneContact:focus {
    background-color: #00bec9;
}

.btnSectionOneService {
    padding: 17px 25px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0px;
}

.divTextSectionOne {
    margin-right: 100px;
}

.computerOne {
    display: inline-block;
    margin: 10px;
    width: 90%;
}

#inscricao {
    color: #00c94d;
}

.sobre {
    background: black;
    font-family: sans-serif; 
}

.sobre h2 {
    text-align: center;
    font-size: 50px;
    color: #00c94d;
    font-weight: bold;
    padding-bottom: 20px;
}
#sobre-nos {
    background-color: black;
    font-size: 30px;
    color: white;
    text-align: center;
    margin:0 auto;
    padding-bottom: 37px;
}

.video1{
    background: black;
    padding-bottom: 70px;
}

#video{
    width: 750px;
    margin:0 auto;
    display: block;
}
