#inscricao {
    color: #00c94d;
}

.tabela{
    width: 9px;
    margin: auto;
    align-items: center;
    padding: 25px;
    background-color: #000000;
    width: 100%;
}


.tabela .conteúdo h1{
    padding: 1px;
    color: #ffffff;
    font-size: 30px;
    font-family: Georgia;
    font-weight: bold;
}

.conteúdo{
    width: 25%;
    background: #00c94d;  
    background: -webkit-linear-gradient(to top, #54da4f, #00c94d); 
    background: linear-gradient(to top, #54da4f, #00c94d); 
    border-radius: 20px;
    float: center;
    margin: auto;
    text-align: center;
    font-family: helvetica;
}

.Preço h2{
    width: 200px;
    line-height: 1em;
    height: 100px;
    margin: 5% auto 0 auto;
    text-align: center;
    font-weight: bold;
    margin-top: 0%;
    line-height: 30px;
    padding-bottom: 150px;
}

.Detalhes{
    margin-top: 0px;
}

.conteúdo h1{
    font-size: 20px;
    color: white;
    line-height: 5;
    text-transform: uppercase;
}

.Detalhes h4{
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    color: white;
    line-height: 1;
}

.conteúdo a{
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 10px 60px;
    display: inline-block;
    margin: 10% auto;
    text-transform: uppercase;
    font-weight: bold;
}

.conteúdo a:hover{
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid black;
    background: rgb(255, 255, 255);
    color: black;
    padding: 10px 60px;
    display: inline-block;
    margin: 10% auto;
    text-transform: uppercase;
    font-weight: bold;
    transition: 1s;
}